#metadata-container {
    margin-bottom: 30px;
    margin-left: 20px;
}

.metadata-row {
    display: flex;
    width: 280px;
    justify-content: space-between;
}

.metadata-key {
    font-weight: bold;
    margin-right: 18px;
}

#company-name-container {
    display: flex;
}

#edit-icon {
    object-fit: contain;
    width: 20px;
    margin-left: 10px;
}